<!doctype html>
<head>
  <link rel="stylesheet" href="static/lib/codemirror.css">
  <script src="static/main.js"></script>
  <script src="static/lib/jquery.js"></script>
  <script src="static/lib/codemirror.js"></script>
  <script src="static/lib/javascript.js"></script>
  <title>Web RIDE</title>
</head>
<body>
  <div class="navi-tree">
    <ul>
      {% for name in suite_names %}
      <li><a href="#"> {{ name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="editor"></div>
</body>
